<main id='about'>
  <div class='bg-about'></div>
  <div class='about-container'>
    <h1 class='lg-heading about-heading'>About <span class='text-secondary'>me</span></h1>
    <h2 class='sm-heading about__title'>
    	I'm excited to embark on my journey as a web developer. While I'm relatively new to this field, I'm passionate about creating web experiences that are not only visually appealing but also functional and user-friendly
    </h2>
    <hr />
    <p class='about__p'>
      </p>
      <p class='about__p'>
		  I've recently started my web development journey, learning the fundamentals of HTML, CSS, and JavaScript. I've already had the chance to build some basic websites and experiment with various technologies.
      I'm dedicated to honing my skills and making a meaningful impact in the world of web development.
      </p>
      <p class='about__p'>
        <a href='mailto:email@domain.com'>
          <i class='fas fa-envelope-open-text fa-2x icon-fa'></i>You may approch me at <span>email@domain.com</span>
        <a/>
      </p>
  </div>

</main>
