<main id='home'>
  <div class='bg-home'></div>
  <div class='home-container'>
    <h2 class='md-heading'><span>Reach me out</span></h2>
    <h1>Ahmed <span class='text-secondary'>Mohammed</span></h1>
    <h2 class='sm-heading home__title'>
      Learner
    </h2>
    <p class='about__p'>
		Reach me out at following handles:
    </p>
    <a href='https://github.com/' class='icon-fa' target='_blank'>
      <i class='fab fa-github fa-2x'></i>
    </a>
    <a href='https://linkedin.com/' class='icon-fa' target='_blank'>
      <i class='fab fa-linkedin fa-2x'></i>
    </a>
     <a href='https://gmail.com/' class='icon-fa' target='_blank'>
      <i class='fas fa-envelope-open-text fa-2x icon-fa'></i>
    </a>
</main>