<main id='home'>
  <div class='bg-home'></div>
  <div class='home-container'>
    <h1 class='lg-heading home__heading'>Ahmed <span class='text-secondary'>Mohammed</span></h1>
    <h2 class='sm-heading home__title'>
      Web Development Student
    </h2>
</main>
