<main id='myServices'>
  <div class='myServices-container'>
    <h1 class='lg-heading'>My <span class='text-secondary'>Services</span></h1>
    <div class='bg-myServices'></div>
    <h2 class='myWork__title'>
		Aspiring web developer passionate about crafting digital experiences from scratch and eager to learn and grow in the world of coding.
    </h2>
  </div>
</main>

<section class='myServices-section'>
  <article class='myServices-portfolio'>
    <h1>SQL Database Administration</h1>
    <p>Efficient management, optimization, and maintenance of SQL databases for seamless data storage and retrieval.</p>
    <img src='../public/img/sql.png' alt='SQL Database Administration'>
  </article>

  <article class='myServices-portfolio'>
    <h1>Python Programming</h1>
    <p>Custom Python solutions tailored for various applications, from scripting and automation to data analysis and software development.</p>
    <img src='../public/img/python.png' alt='Python Programming'>
  </article>

  <article class='myServices-portfolio'>
    <h1>Web development</h1>
    <p>Crafting responsive and user-centric websites and web applications, blending creativity with functionality for an exceptional online presence.</p>
    <img src='../public/img/web-dev.png' alt='Python Programming'>
  </article>

</section>

